.nav-global li a{
    color: rgb(165, 42, 42);
    text-decoration: none;
    margin: 20px;
    padding: 5px;
}
a{
    text-decoration: none;
}
.nav-global{
    display: flex;
    justify-content: space-around;
}
.nav-global li{
    list-style: none;
    border: 2px solid rgba(255, 71, 224, 0.93);
    padding: 20px;
    text-decoration: none;
}
.nav-global li:hover{
    list-style: none;
    background-color: rgba(220, 20, 143, 0.181);
    color: deeppink;
}